---
import { getImage } from 'astro:assets'
import { getCollection, getEntry, render } from 'astro:content'
import { marked } from 'marked'

import PageLayout from '../layouts/PageLayout.astro'
import HomeBody from '../components/Home/HomeBody.astro'
import HomeSlideshow from '../components/Home/HomeSlideshow.astro'

interface HomeImageModule {
  default: ImageMetadata
}

const branches = await getCollection('branch')

const newsRaw = await getCollection('news', ({ data }) => {
  return data.draft !== true
})
const newsAndEvents = newsRaw.map((n) => {
  return { ...n.data, optimizedImage: n.data.imageLink }
})
newsAndEvents.sort((a, b) => (a.title || '').localeCompare(b.title || ''))

const intro = await getEntry('section', 'introduction')
const { Content: IntroContent } = intro ? await render(intro) : { Content: null }

const newsflash = await getEntry('section', 'newsflash')
const { Content: NewsFlashContent } = newsflash ? await render(newsflash) : { Content: null }

const additionalSectionsRaw = await getCollection('section', ({ data }) => {
  return data.isPublished == true && data.page == 'Home'
})

const additionalSections = await Promise.all(
  additionalSectionsRaw.map(async (s) => {
    const { Content } = await render(s)
    return { ...s, Content }
  })
)

const imagesRaw = Object.values(
  import.meta.glob('../assets/home/*.jpg', { eager: true })
) as HomeImageModule[]
const images = await Promise.all(
  imagesRaw.map(async (img) => {
    const optimized = await getImage({ src: img.default, format: 'webp', width: 600 })
    return {
      original: img.default.src,
      thumbnail: optimized.src,
      width: img.default.width,
      height: img.default.height
    }
  })
)

// For tooltips, we still need HTML strings
const branchesWithHtml = await Promise.all(
  branches.map(async (b) => {
    const html = await marked.parse(b.body || '')
    return { ...b, html }
  })
)
---

<PageLayout>
  <div class="w-full text-black">
    <HomeSlideshow newsAndEvents={newsAndEvents} />

    <HomeBody
      IntroContent={IntroContent}
      newsflash={newsflash}
      NewsFlashContent={NewsFlashContent}
      additionalSections={additionalSections}
      images={images}
      branches={branchesWithHtml}
    />
  </div>
</PageLayout>
