---
import { getCollection } from 'astro:content'

import FirstConference from '../assets/Join Us Page/1stConference.jpeg'
import JoinUsComponent from '../components/Layouts/JoinUs'
import ResourcesHeader from '../components/ResourcesHeader.astro'
import PageLayout from '../layouts/PageLayout.astro'

const membertypes = await getCollection('membertype')
const memberships = membertypes.map((m) => ({
  id: String(m.data.id),
  title: m.data.title,
  cost: String(m.data.cost || '0')
}))

const frontmatter = {
  title: 'Join Us',
  description:
    "You join the world's leading international organization committed to transforming the lives of women in Buddhist societies. Sakyadhita seeks to unite Buddhist women of diverse countries and traditions, to promote their welfare, and to facilitate their work for the benefit of humanity. We invite you to join us in developing comprehensive resources to globally assist Buddhist women in creating a better world.",
  image: FirstConference
}
---

<PageLayout>
  <ResourcesHeader
    title={frontmatter.title}
    text={frontmatter.description}
    image={frontmatter.image}
  />

  <JoinUsComponent client:load frontmatter={frontmatter} memberships={memberships}>
    <slot />
  </JoinUsComponent>

  {/* Hidden forms for Netlify detection */}
  <form name="membership" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="mName" />
    <input type="text" name="lName" />
    <input type="tel" name="phone" />
    <input type="email" name="email" />
    <input type="text" name="address" />
  </form>
  <form name="paidmembership" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="lName" />
    <input type="email" name="email" />
    <input type="tel" name="phone" />
    <input type="text" name="mName" />
    <input type="text" name="address" />
    <input type="text" name="isNewMember" />
    <input type="text" name="affiliatedOrgs" />
    <input type="text" name="membershipType" />
    <input type="number" name="totalPaid" />
    <input type="text" name="payPalTransactionId" />
  </form>
</PageLayout>
