---
/**
 * Renders one tile for the Be Involved Section of the Home page.
 *
 * @summary Displays one tile for Home Page's Be Involved sub-section.
 * @author Amrit Kaur Singh
 */
import { getImage } from 'astro:assets'

import CustomButton from '../CustomButton.astro'

interface Props {
  title?: string // Not used but keep for compatibility
  description: string
  image_url: string | ImageMetadata
  button_title: string
  redirect_link: string
  openInSameTab?: boolean | string
}

const { description, image_url, button_title, redirect_link, openInSameTab } = Astro.props

const optimizedImage =
  typeof image_url === 'string'
    ? null
    : await getImage({ src: image_url, format: 'webp', width: 800 })

const imageUrl = optimizedImage?.src || (typeof image_url === 'string' ? image_url : image_url.src)
---

<div
  id={button_title}
  class="
    group h-112 w-full flex-1 bg-[no-repeat,no-repeat] bg-size-[cover,contain]
    bg-position-[center,top] font-body text-2xl text-white
    shadow-[0px_0px_4px_2px_rgba(0,0,0,0.25)] transition-transform
    hover:scale-105
  "
  style={{ backgroundImage: `url("${imageUrl}")` }}
>
  <div
    class="
      flex size-full flex-col items-center justify-end bg-black/40 p-[10vw_20vw]
      transition-colors
      group-hover:bg-transparent
      md:p-[4vw_6vw]
      lg:p-[4vw_7vw]
    "
  >
    <p class="mb-6 text-center">{description}</p>
    <CustomButton
      openInSameTab={openInSameTab === 'true' || openInSameTab === true}
      redirect_link={redirect_link}
      text={button_title}
    />
  </div>
</div>
