---
import { cn } from '../lib/utils'

/**
 * Component that renders a button that redirects to a new page
 *
 * @param {string} text  - The display name given to the button
 * @param {string} redirect_link  - The redirect url once the button is clicked
 * @param {boolean} openInSameTab  - True if redirect_link is open in same tab, false if it is opened in new tab
 */
interface Props {
  text: string
  redirect_link?: string
  openInSameTab?: boolean
  onClickCallback?: (event: Event) => void
  className?: string
}

const { text, redirect_link, openInSameTab = false, className = '' } = Astro.props

const classes = cn(
  `
    inline-flex h-auto w-44 items-center justify-center rounded-full border-none
    bg-brand-orange py-2 font-body text-sm font-bold text-white uppercase
    no-underline shadow-[2px_2px_2px_rgb(63,62,62)] transition-transform
    hover:bg-brand-dark-orange hover:no-underline
    active:scale-95
  `,
  className
)
---

{
  redirect_link ? (
    <a
      href={redirect_link}
      target={openInSameTab ? null : '_blank'}
      rel="noreferrer"
      class={classes}
    >
      {text}
    </a>
  ) : (
    <button type="button" class={classes}>
      {text}
    </button>
  )
}
