---
/**
 * Renders an EPub Card given information about the publication.
 *
 * @Author PatrickBrown1, Navid Boloorian (Migrated to Astro by Gemini CLI)
 */
import { Image } from 'astro:assets'

import { getAssetUrl } from '../lib'

import type { ImageMetadata } from 'astro'

interface Props {
  title: string
  author: string
  image: ImageMetadata
  pdfLink: any
}

const { title, author, image, pdfLink } = Astro.props
const resolvedPdfLink = getAssetUrl(pdfLink)
// console.log('Resolved PDF Link:', resolvedPdfLink)
---

<div class="
  epub-card group m-6 inline-block w-40
  md:w-48
">
  {
    resolvedPdfLink !== null && (
      <a href={resolvedPdfLink} target="_blank" rel="noreferrer noopener">
        <Image
          alt={title}
          src={image}
          width={200}
          height={300}
          loading="lazy"
          decoding="async"
          class="
            mb-4 h-56 w-40 object-cover
            shadow-[0px_0px_3px_0.75px_rgba(0,0,0,0.25)] transition-all
            group-hover:scale-105
            group-hover:shadow-[0px_0px_12px_3px_var(--color-brand-dark-orange)]
            md:mb-5 md:h-64 md:w-48
            md:shadow-[0px_0px_12px_3px_rgba(0,0,0,0.25)]
          "
        />
      </a>
    )
  }
  <div
    class="
      block max-h-12 overflow-hidden text-center font-heading text-lg/6
      font-bold text-wrap
      md:max-h-none md:text-left md:text-lg/relaxed
    "
  >
    {title}
  </div>

  {/* Native HTML title attribute for simple tooltip behavior or could implement a small script */}
  <div
    title={author}
    class="
      block max-h-5 cursor-default truncate pt-1.5 text-center font-body
      text-sm/tight
      md:max-h-none md:text-left md:text-lg/relaxed md:font-normal
    "
  >
    {author}
  </div>
</div>
