---
import { getCollection } from 'astro:content'

import PageLayout from './PageLayout.astro'
import AboutUs from '../components/Layouts/AboutUs'

const committees = await getCollection('exco')
const sections = await getCollection('section', ({ data }) => {
  return data.isPublished == true && data.page == 'AboutUs'
})
const contents = sections.map(async (s) => {
  const { Content } = await s.render()
  return Content
})

const { frontmatter } = Astro.props

function makeIdURLFriendly(idString : string) {
  return idString
    .replace(/\s+/g, '-')
    .replace(/:/g, '')
    .replace(/[^a-z0-9-]/gi, '')
    .toLowerCase()
}
---

<PageLayout>
  <AboutUs client:only="react"
    frontmatter={frontmatter}
    committees={committees}
    sections={sections}
  >
    {sections.map((section, i) => {
      const Content = contents[i]
      
      return (
        <div class="section">
          <div class="scroll" id={makeIdURLFriendly(section.data.title)} />
          <h1>{section.data.title}</h1>
          <Content />
        </div>
    )})}
    <slot />
  </AboutUs>
</PageLayout>
