---
import '../css/index.css'

import NavBar from '../components/Main/NavBar/NavBar.jsx'
import Footer from '../components/Main/Footer.jsx'

interface Props {
  hideFooter?: boolean
}

const { hideFooter = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}apple-touch-icon.png`} />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}manifest.json`} />
    <link rel="sitemap" href={`${import.meta.env.BASE_URL}sitemap-index.xml`} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href={`${import.meta.env.BASE_URL}rss.xml`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Sakyadhita</title>
    <meta name="description" content="International association of Buddhist women" />
  </head>
  <body>
    <script
      is:inline
      src="https://www.paypal.com/sdk/js?client-id=ASDm1JYVJH040Ll__pRIyZ8-Tf9Qnj5XhnshSnNnhVHhtGZn9EvKAXDXVciMK3VTDNMD5opI99mXsUPS"
    ></script>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div style={{ overflowX: 'hidden', height: '100vh' }} id="page-layout">
        <NavBar client:only="react" />
        <slot />
        {!hideFooter ? <Footer client:only="react" /> : null}
      </div>
    </div>
<iframe id="paypal-offers--iframe-d1dd6483-cb5b-4cd8-942b-240340173b4b" src="https://www.paypalobjects.com/muse/analytics/index.html#frameId=d1dd6483-cb5b-4cd8-942b-240340173b4b&amp;propertyId=T2D7QGF6MF9B2-1&amp;flow=visitor-info&amp;variant=analytics&amp;mrid=T2D7QGF6MF9B2&amp;isMobileEnabled=true&amp;isDesktopEnabled=true&amp;shouldCheckCountry=true&amp;mobileVariant=analytics&amp;mobileFlow=visitor-info&amp;disableSetCookie=true" data-merchant="T2D7QGF6MF9B2-1" style="z-index: 2147483647; display: none;"></iframe>
  </body>
</html>
