---
import PageLayout from './PageLayout.astro'
import ResourcesNavBar from '../components/Main/ResourcesNavBar'
import ResourcesHeader from '../components/ResourcesLanding/ResourcesLandingPageHeader.astro'

const { frontmatter } = Astro.props
---

<PageLayout hideFooter={true}>
  <ResourcesNavBar client:idle>
    <div class="w-full">
      {/* Responsive Headers - Astro */}
      <div class="md:hidden">
        <ResourcesHeader
          image={frontmatter.image}
          title={frontmatter.title}
          text={frontmatter.description}
          height="calc(100vh - 128px)"
          width="100%"
        />
      </div>
      <div class="hidden md:block">
        <ResourcesHeader
          image={frontmatter.image}
          title={frontmatter.title}
          text={frontmatter.description}
          height="calc(100vh - 208px)"
          width="100%"
        />
      </div>
    </div>
    <slot />
  </ResourcesNavBar>
</PageLayout>
