---
import { getCollection } from 'astro:content'

import PageLayout from './PageLayout.astro'
// import Volunteer from "../components/Layouts/Volunteer"
import HeaderImage from '../media/Lotus_Header.png'
import ResourcesHeader from '../astro/ResourcesHeader.astro'

import '../css/Volunteer.css'
import '../css/CustomButton.css'

const { frontmatter } = Astro.props

const interests = await getCollection('volinterest')

const mid = Math.ceil(interests.length / 2)
---

<PageLayout>
  <!-- <Volunteer client:only="react" interests={interests} /> -->
  <ResourcesHeader title={frontmatter.title} image={HeaderImage.src} showArrow={false}>
    <slot />
  </ResourcesHeader>
  <div class="volunteer-content">
    <p class="required-note">
      {' '}
      <span class="error-asterisk"> *</span> indicates a required field
    </p>
    <form name="volunteer" data-netlify="true" netlify-honeypot="bot-field">
      <h1 class="signup-text">Sign Me Up!</h1>
      <div class="form-item">
        <label for="firstName">First Name</label>
        <input class="first-name input-field" type="text" id="firstName" name="firstName" />
        <span class="error-asterisk">*</span>
      </div>
      <div class="form-item">
        <label for="middleName">Middle Name</label>
        <input class="middle-name input-field" type="text" id="middleName" name="middleName" />
      </div>
      <div class="form-item last-name-field">
        <label for="lastName">Last Name</label>
        <input class="input-field" type="text" id="lastName" name="lastName" />
        <span class="error-asterisk">*</span>
      </div>
      <h1 class="contact-info-text">Contact Information</h1>
      <div class="form-item">
        <label for="emailAddress">Email Address</label>
        <input
          class="email-address input-field"
          type="email"
          id="emailAddress"
          name="emailAddress"
        />
        <span class="error-asterisk">*</span>
      </div>
      <div class="form-item">
        <label for="phoneNumber">Phone Number</label>
        <input class="phone-number input-field" type="tel" id="phoneNumber" name="phoneNumber" />
      </div>
      <div class="form-item">
        <label for="country">Country</label>
        <select
          class="input-field country-dropdown crs-country"
          id="country"
          name="country"
          data-region-id="stateLocation"></select>
        <span class="error-asterisk">*</span>
      </div>
      <div class="form-item">
        <label for="stateLocation">Region</label>
        <select class="input-field country-dropdown" id="stateLocation" name="stateLocation"
        ></select>
      </div>
      <div class="form-item">
        <label for="addressOne">Address Line 1</label>
        <input class="address-line1 input-field" type="text" id="addressOne" name="addressOne" />
        <span class="error-asterisk">*</span>
      </div>
      <div class="form-item">
        <label for="addressTwo">Address Line 2</label>
        <input class="address-line2 input-field" type="text" id="addressTwo" name="addressTwo" />
      </div>
      <div class="form-item">
        <label for="city">City</label>
        <input class="city-field input-field" type="text" id="city" name="city" />
        <span class="error-asterisk">*</span>
      </div>
      <div class="form-item">
        <label for="zipcode">Postal Code</label>
        <input class="zipcode-field input-field" type="text" id="zipcode" name="zipcode" />
        <span class="error-asterisk">*</span>
      </div>
      <h1 class="help-section-title">What would you like to help with?</h1>
      <p class="select-committees-text">Select all committees you are interested in.</p>
      <div class="volunteer-options">
        <div class="left-options-column">
          {
            interests.slice(0, mid).map((interest, i) => (
              <div>
                <div class="committee-row">
                  <input
                    class="committee-checkbox"
                    type="checkbox"
                    id={i.toString()}
                    name={interest.data.title}
                    value="Yes"
                  />
                  <span class="committee-title">{interest.data.title}</span>
                </div>
                <p class="committee-description">{interest.data.description}</p>
              </div>
            ))
          }
        </div>
        <div class="right-options-column">
          {
            interests.slice(mid).map((interest, i) => (
              <div>
                <div class="committee-row">
                  <input
                    class="committee-checkbox"
                    type="checkbox"
                    id={i.toString()}
                    name={interest.data.title}
                    value="Yes"
                  />
                  <span class="committee-title">{interest.data.title}</span>
                </div>
                <p class="committee-description">{interest.data.description}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class="submit-form">
        <button class="Custom-Button" type="submit"> Submit</button>
      </div>
    </form>
  </div>
</PageLayout>
<script src="country-region-selector"></script>
